.resumecontainer {
  background-color: #ffffff;
  width: 210mm;
  min-height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.subresumecontainer {
  margin: 5%;
}
/*HEADER*/

.resumeheader {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.photocontainer {
  width: 27%;
  height: auto;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
}
.photo {
  min-width: 200px;
  width: 100%;
  min-height: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e777a;
}

.addbuttoncontainer:hover {
  opacity: 1;
}
input[type="file"] {
  display: none;
}
.headerrightside {
  width: 50%;
  height: auto;
  margin-left: 7%;
}
.namecontainer > h2 {
  width: 100%;
  height: 10%;
}

.titlecontainer > h2 {
  width: 100%;
  height: 10%;
}

/*PROFILE*/
.profilestage {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profileheader {
  width: 30%;
  color: #c66259;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
}
.profileheader h2 {
  max-width: 70%;
}
.profiledescription {
  width: 72%;
  height: 100%;
  margin-left: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.profiledescription p {
  max-width: 100%;
}

.profiledescription > p:empty:not(:focus)::before {
  content: attr(placeholder);
}

/*EXPERIENCES*/

.experiencestage {
  height: auto;
  display: flex;
  align-items: center;
}
.experienceheader {
  width: 30%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c66259;
}

.experienceheader h2 {
  max-width: 60%;
}
.experiencedescription {
  width: 72%;
  height: auto;
}
.jobtitledate {
  display: flex;
  align-items: center;

  width: 100%;
  height: 30px;
  justify-content: space-between;
  margin-top: -5px;
}
.addliststage {
  width: 100%;
  height: auto;

  padding-bottom: 2px;
}
.addlistpluscontainer {
  display: flex;
  align-items: center;
  height: 15px;
  margin-top: 10px;
  margin-bottom: 2px;
}
/*SKILLS*/

.skillstage {
  height: auto;
  display: flex;
  align-items: center;
}
.skillheader {
  width: 30%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c66259;
}
.skilldescription {
  width: 72%;
  height: auto;

  columns: 2;
}
/*LANGUAGE*/
.languagestage {
  height: auto;
  display: flex;
  align-items: center;
}
.languageheader {
  width: 30%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c66259;
}
.languagedescription {
  width: 72%;
  height: auto;
}
.addlanguagecontainer {
  width: 50%;
  height: auto;
}
/*EDUCATION*/
.educationstage {
  height: auto;
  display: flex;
  align-items: center;
}
.educationheader {
  width: 30%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c66259;
}
.educationdescription {
  width: 72%;
  height: auto;
}
/*CONTACT*/
.contactstage {
  height: auto;
  display: flex;
  align-items: center;
}
.contactheader {
  width: 30%;
  height: 100%;

  display: flex;
  align-items: center;
  color: #c66259;
}
.contactdescription {
  width: 72%;
  height: auto;
}
.mail {
  width: 100%;
  display: flex;
  align-items: center;
}

@media print {
  .resumecontainer {
    font-size: 10px;
    padding-top: 0;
    margin: 0;
    box-shadow: 0 0 0 0;
    padding: 2%;
    margin-top: -5%;
    padding-left: 0;
  }

  .experienceheader > i {
    display: none;
  }
  .addlistpluscontainer > i {
    display: none;
  }
  .skillheader > i {
    display: none;
  }
  .languageheader > i {
    display: none;
  }
  .educationheader > i {
    display: none;
  }
  .print:last-child {
    page-break-after: auto;
  }
  @page :footer {
    display: none;
  }

  @page :header {
    display: none;
  }
}
