* {
  font-family: "Libre Baskerville", serif;
}

.resumecontainer {
  background-color: #ffffff;
  width: 70%;
  height: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 5%;
}
.subresumecontainer {
  margin: 5%;
}
/*HEADER*/

.resumeheader {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.photocontainer {
  width: 27%;
  height: auto;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
}
.photo {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c66259;
}

.addbuttoncontainer:hover {
  opacity: 1;
}
input[type="file"] {
  display: none;
}
.headerrightside {
  width: 50%;
  height: auto;
  margin-left: 4%;
}
.namecontainer > h2 {
  width: 100%;
  height: 10%;
}
.titlecontainer > h2 {
  width: 100%;
  height: 10%;
}
/*PROFILE*/
.profilestage {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.profileheader {
  width: 30%;
  color: #c66259;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
}
.profiledescription {
  width: 80%;
  height: 100%;

  display: flex;
  align-items: center;
}
/*EXPERIENCES*/

.experiencestage {
  height: auto;
  display: flex;
  align-items: center;
}
.experienceheader {
  width: 30%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c66259;
}
.experiencedescription {
  width: 80%;
  height: auto;
}
.jobtitledate {
  display: flex;
  align-items: center;

  width: 100%;
  height: 30px;
  justify-content: space-between;
  margin-top: -5px;
}
.addliststage {
  width: 100%;
  height: auto;

  padding-bottom: 2px;
}
.addlistpluscontainer {
  display: flex;
  align-items: center;
  height: 15px;
  margin-top: 10px;
  margin-bottom: 2px;
}
/*SKILLS*/

.skillstage {
  height: auto;
  display: flex;
  align-items: center;
}
.skillheader {
  width: 30%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c66259;
}
.skilldescription {
  width: 80%;
  height: auto;

  columns: 2;
}
/*LANGUAGE*/
.languagestage {
  height: auto;
  display: flex;
  align-items: center;
}
.languageheader {
  width: 30%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c66259;
}
.languagedescription {
  width: 80%;
  height: auto;
}
.addlanguagecontainer {
  width: 50%;
  height: auto;
}
/*EDUCATION*/
.educationstage {
  height: auto;
  display: flex;
  align-items: center;
}
.educationheader {
  width: 30%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c66259;
}
.educationdescription {
  width: 80%;
  height: auto;
}
/*CONTACT*/
.contactstage {
  height: auto;
  display: flex;
  align-items: center;
}
.contactheader {
  width: 30%;
  height: 100%;

  display: flex;
  align-items: center;
  color: #c66259;
}
.contactdescription {
  width: 80%;
  height: auto;
}
.mail {
  width: 100%;
  display: flex;
  align-items: center;
}
