.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  height: auto;
}

.downloadcontainer {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 252, 244, 1) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  font-family: "Libre Baskerville";
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  padding: 1%;
}

.icons {
  width: 100%;
  height: 100%;
  list-style: none;
}
.icons > li {
  margin-top: 15px;
  display: inline-block;
}

/*HEADER MENU*/

.headermenu {
  width: 100%;
  height: auto;
}
/*PHOTO*/
.photomenu {
  width: 100%;
  height: auto;
  text-align: center;
  text-shadow: 2px 2px 2px grey;
}

.photoicons {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #eaeaea;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
/*FONT MENU*/
.fontmenu {
  width: auto;
  height: auto;
  background-color: #eaeaea;
  padding-bottom: 5%;
  padding-top: 5%;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  padding-left: 5%;
}

/*CHOOSE BACKGROUND COLOR*/
.backgroundcolormenu {
  width: auto;
  height: auto;
  background-color: #eaeaea;
  padding-bottom: 5%;
  padding-top: 1%;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  padding-left: 5%;
}
.colorbuttons {
  border-radius: 50%;
  border: 0px;
  width: 30px;
  height: 30px;
  margin-left: 2%;
  cursor: pointer;
}

.hexcodecontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: yellow;
}

/*NAME MENU*/
.namemenu {
  width: auto;
  height: auto;
  background-color: #eaeaea;
  padding-bottom: 5%;
  padding-top: 1%;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  padding-left: 5%;
}

/*TITLE MENU*/
.titlemenu {
  width: auto;
  height: auto;
  background-color: #eaeaea;
  padding-bottom: 10%;
  padding-top: 10%;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  padding-left: 5%;
}

/* width */
.downloadcontainer::-webkit-scrollbar {
  width: 10px;
  display: none;
  direction: rtl;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c66259;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c66259;
  border-radius: 5%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media print {
  .downloadcontainer,
  .downloadcontainer * {
    display: none !important;
  }
}
